# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# csv files from input or processed data
input/*.csv
processed_data/*.csv

# rds files from input or processed data
input/*.rds
processed_data/*.rds

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Anything with "LARGE_FILES" in the directory name
*LARGE_FILES*